.coverage
.DS_Store
.swp
.tox
*.py[co]
*.so
*.swp
build-stamp
build/
dist/
docs/_build
eggs
htmlcov
PyKCS11.egg-info
src/LowLevel.py
src/pykcs11_wrap.cpp
src/PyKCS11/LowLevel.py
temp
tox.env
virtualenv
