include src/*
include src/opensc/*
recursive-include samples *.py
include Changes.txt
include Makefile*
include run_test.py
include tox.ini
include pykcs11.rc
include resource.h
include dev-requirements.txt
include docs/*
include COPYING
