Source: pykcs11
Priority: optional
Maintainer: Ludovic Rousseau <rousseau@debian.org>
Build-Depends: debhelper (>= 5.0.38), swig, python-central (>= 0.5.6), python-all-dev (>= 2.3.5-11)
Standards-Version: 3.7.2
Section: python
XS-Python-Version: all

Package: python-pykcs11
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python wrapper above a PKCS#11 library
 This package contains a wrapper to use a PKCS#11 library from a Python
 program.
 .
  Homepage: http://www.bit4id.org/trac/pykcs11/
